@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "登录";

}



<div id="header">
    <img src="~/image/11.png" />
    <span class=" dd-title-center dd-title-white">   督导听课</span><span class="dd-title-blue">系统</span>
</div>
<div id="page">
    <div class="container">
        <div calss="row">
            <div class="col-xs-8 col-md-8 col-lg-8"><img src="~/image/12.gif" class="ico img-responsive" /></div>

            <div>
                <form action="Login" method="post" class="form-horizontal" data-ajax="true" role="form">
                    <div class="col-xs-4 col-md-4 margin-lg">

                        <input name="username" type="text" placeholder="请输入账号" style="width:280px; height:40px;" class=" form-control input-lg text-style1" />
                    </div>
                    <div class="col-xs-4 col-md-4 margin-md">
                        <input name="password" type="password" placeholder="请输入密码" style="width:280px; height:40px;" class=" form-control input-lg text-style2" />
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <button name="login" type="submit" style="width:140px; height:40px;" class="text-style3 btn-margin">登陆</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-10 margin-md">
                <a href="/">教师信息填写入口>></a>
            </div>
        </div>
    </div>
</div>