<div class="contain">
    <ul class="tabs">
        <li class="active">
            <a href="#tab1">
                临时表
            </a>
        </li>
        <li>
            <a href="#tab2">
                确认表
            </a>
        </li>
        <li>
            <a href="#tab3">
                发送日志
            </a>
        </li>
    </ul>
    <div>
    <div class="tab_container">
        <div id="tab1" class="tab_content" style="display: block; ">
            <div class="row">
                <div class="col-lg-3 col-sm-5 col-xs-12">
                    <a href="#" class="button green" onclick="$('#addtemp').show()" ;>
                        添加
                    </a>
                    <a href="#" class="button orange" onclick="edite1()";>
                        修改
                    </a>
                    <a href="#" class="button blue" onclick="save()";>
                        保存
                    </a>
                </div>
                <div class="col-lg-6 col-sm-3 col-xs-0">
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="输入你想搜索的信息">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                搜索
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <div id="editable1">
                <p>
                </p>
                <table class="table table-condensed table-hover table-responsive ove">
                    <tr bgcolor="f5f5f5">
                        <th width=2%>
                            <form>
                                <input id="checkall" type="checkbox" name="checkall">
                            </form>
                        </th>
                        <th>
                            <p>
                                课程
                            </p>
                        </th>
                        <th>
                            <p>
                                授课内容
                            </p>
                        </th>
                        <th>
                            <p>
                                授课方式
                            </p>
                        </th>
                        <th>
                            <p>
                                专业
                            </p>
                        </th>
                        <th>
                            <p>
                                教室
                            </p>
                        </th>
                        <th>
                            <p>
                                教师
                            </p>
                        </th>
                        <th>
                            <p>
                                周次
                            </p>
                        </th>
                        <th>
                            <p>
                                听课时间
                            </p>
                        </th>
                        <th>
                            <p>
                                人员安排
                            </p>
                        </th>
                        <th>
                            <p>
                                &nbsp;
                            </p>
                        </th>
                    </tr>
                    <tr id="addtemp" style="display:none">
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <input type="text" id="tempcourse" name="tempcourse" />
                        </td>
                        <td>
                            <input type="text" id="tempcontent" name="tempcontent" />
                        </td>
                        <td>
                            <input type="text" id="tempway" name="tempway" />
                        </td>
                        <td>
                            <input type="text" id="tempmajor" name="tempmajor" />
                        </td>
                        <td>
                            <input type="text" id="temproom" name="temproom" />
                        </td>
                        <td>
                            <input type="text" id="temptr" name="temptr" />
                        </td>
                        <td>
                            <input type="text" id="tempweek" name="tempweek" />
                        </td>
                        <td>
                            <input type="text" id="temptime" name="temptime" />
                        </td>
                        <td>
                            <input type="text" id="temper" name="temper" />
                        </td>
                        <td>
                            <input type="button" id="btnsubmit" value="添加" class="teacherbtn blue" />
                            <input type="button" id="btncancel" value="取消" class="teacherbtn red" onclick="$('#addtemp').hide()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.table -->
            <div class="row">
                <div class="col-lg-9 col-sm-6 col-xs-4">
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-8">
                    <div class="pagese">
                        <p>
                            页数：
                        </p>
                        <form method="get">
                            <input type="text" name="pages" />
                        </form>
                        <a href="#" class="button gray">
                            下一页
                        </a>
                        <a href="#" class="button gray">
                            上一页
                        </a>
                        <a href="#" class="button gray">
                            转到
                        </a>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <div id="tab2"  class="tab_content" style="display: none; ">
            <div class="row">
                <div class="col-lg-5 col-sm-12 col-xs-12">
                    <a href="#" class="button orange" onclick="edite2()";>
                        修改
                    </a>
                    <a href="#" class="button red" onclick="delete1()";>
                        删除
                    </a>
                    <a href="#" class="button blue" onclick="sendMsg()";>
                        发送安排
                    </a>
                    <a href="#" class="button green" onclick="sendResult()";>
                        发送结果
                    </a>
                    <a href="#" class="button orange">
                        导出Excel
                    </a>
                </div>
            </div>
            <div>
                <!-- /table开始 -->
                <div id="editable2">
                    <p></p>
                    <table class="table table-condensed table-hover table-responsive ove">
                        <tr bgcolor="#f5f5f5">
                            <th width=2%>
                                <form>
                                    <input id="checkall" type="checkbox" name="checkall">
                                </form>
                            </th>
                            <th>
                                <p>
                                    课程
                                </p>
                            </th>
                            <th>
                                <p>
                                    授课内容
                                </p>
                            </th>
                            <th>
                                <p>
                                    授课方式
                                </p>
                            </th>
                            <th>
                                <p>
                                    专业
                                </p>
                            </th>
                            <th>
                                <p>
                                    教室
                                </p>
                            </th>
                            <th>
                                <p>
                                    教师
                                </p>
                            </th>
                            <th>
                                <p>
                                    周次
                                </p>
                            </th>
                            <th>
                                <p>
                                    听课时间
                                </p>
                            </th>
                            <th>
                                <p>
                                    人员安排
                                </p>
                            </th>
                            <th>
                                <p>
                                    分数
                                </p>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.table -->
            <div class="row">
                <div class="col-lg-9 col-sm-6 col-xs-4">
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-8">
                    <div class="pages">
                        <p>
                            页数：
                        </p>
                        <form method="get">
                            <input type="text" name="pages" />
                        </form>
                        <a href="#" class="button gray">
                            下一页
                        </a>
                        <a href="#" class="button gray">
                            上一页
                        </a>
                        <a href="#" class="button gray">
                            转到
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab3" class="tab_content" style="display: none; ">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-xs-9">
                    <a href="#" class="button green" onclick="resend()";>
                        重发
                    </a>
                    <a href="#" class="button red" onclick="delete1()";>
                        删除
                    </a>
                </div>
            </div>
            <div>
                <!-- /.table开始 -->
                <p></p>
                <table class="table table-condensed table-hover table-responsive ove">
                    <tr bgcolor="#f5f5f5">
                        <th width=2%>
                            <form>
                                <input id="checkall" type="checkbox" name="checkall">
                            </form>
                        </th>
                        <th>
                            <p>
                                收件人
                            </p>
                        </th>
                        <th>
                            <p>
                                身份
                            </p>
                        </th>
                        <th>
                            <p>
                                主题
                            </p>
                        </th>
                        <th>
                            <p>
                                时间
                            </p>
                        </th>
                        <th>
                            <p>
                                类型
                            </p>
                        </th>
                        <th>
                            <p>
                                状态
                            </p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.table -->
            <div class="row">
                <div class="col-lg-9 col-sm-6 col-xs-4">
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-8">
                    <div class="pages">
                        <p>
                            页数：
                        </p>
                        <form method="get">
                            <input type="text" name="pages" />
                        </form>
                        <a href="#" class="button gray">
                            下一页
                        </a>
                        <a href="#" class="button gray">
                            上一页
                        </a>
                        <a href="#" class="button gray">
                            转到
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //临时表按钮 保存
    function save() {
        swal({
            title: "已保存",//放js显示乱码 所以放这里
            timer: 1500,
            showConfirmButton: false,
            type: "success"
        });
        document.getElementById("editable1").contentEditable = "false";
    };
    //确认表 发送日志 按钮 删除
    function delete1() {
        swal({
            title: "确认删除？",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ok",
            closeOnConfirm: false
        },
        function () {
            swal({
                title: "已删除",
                timer: 1500,
                showConfirmButton: false,
                type: "success"
            });
        });
    };
    //确认表按钮 发送安排
    function sendMsg() {
        swal({
            title: "已发送",
            timer: 1500,
            showConfirmButton: false,
            type: "success"
        });
    };
    //确认表按钮 发送结果
    function sendResult() {
        swal({
            title: "已发送",
            timer: 1500,
            showConfirmButton: false,
            type: "success"
        });
    };
    //发送日志按钮 重发
    function resend() {
        swal({
            title: "已重发",
            timer: 1500,
            showConfirmButton: false,
            type: "success"
        });
    };
</script>
