@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "主页";
}


@section Style {
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/sas.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/tabs.css">
}
@section Scripts {
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/materialMenu.js"></script>
    <script src="~/js/jquery.fileDownload.js"></script>
    <script src="~/js/sas.js"></script>
}

<div class="header">
    <span class=" dd-title-center dd-title-white" id="title1">
        督导听课系统
    </span>


    <span class="dd-title-blue">
        <span id="title2">
        </span>
        <a href="~/Account/Manage" class="admin admin-text" title="Manage">
            @ViewBag.role
        </a>
        <img src="~/image/14.png" class="admin admin-1" id="image">

    </span>

</div>

<div id="page">



    <div class="container-fluid">
        <div id="wrapper" class="wrapper">
            @* 这里才是放内容的地方 -- Jier *@



        </div>
        @RenderPage("~/Views/Shared/_Menu.cshtml")
    </div>

</div>