

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        督导听课系统
    </title>
    <link rel="shortcut icon" href="~/image/00.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/sas.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/tabs.css">
    <!--[if IE]>
        <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js">
        </script>
        <![endif]-->
</head>

<body background="~/image/10.jpg">
    <div id="container">
        <div class="header">
            <span class=" dd-title-center dd-title-white" id="title1">
                督导听课系统
            </span>
            <span class="dd-title-blue">
                <span id="title2">
                </span>
                <a href="/" class="admin admin-text">
                    @ViewBag.role
                  </a>
                <img src="~/image/14.png" class="admin admin-1">
            </span>
        </div>
        <div id="page">
            <div class="container-fluid">
                <div id="wrapper" class="wrapper">
                </div>
                <button id="mm-menu-toggle" class="mm-menu-toggle"></button>
                <nav id="mm-menu" class="mm-menu">
                    <div class="mm-menu__header">
                    </div>
                    <ul class="mm-menu__items">
                        <li class="mm-menu__item">
                            <a class="mm-menu__link" onclick="navpage('/Home/Confirm','督导','主页')">
                                <img src="~/image/1.png">
                                <div class="mm-menu__link-text">
                                    主页
                                </div>
                            </a>
                        </li>
                        <li class="mm-menu__item">
                            <a class="mm-menu__link" onclick="navpage('/Schedule/Schedule','督导','进度表')">
                                <img src="~/image/2.png">
                                <div class="mm-menu__link-text">
                                    进度表
                                </div>
                            </a>
                        </li>
                        <li class="mm-menu__item" onclick="navpage('/Schedule/Reference','督导','排课参考')">
                            <a class="mm-menu__link" >
                                <img src="~/image/3.png">
                                <div class="mm-menu__link-text">
                                    排课参考
                                </div>
                            </a>
                        </li>
                        <li class="mm-menu__item">
                            <a class="mm-menu__link" onclick="navpage('/Schedule/Auto','督导','自动生成')">
                                <img src="~/image/4.png">
                                <div class="mm-menu__link-text">
                                    自动生成
                                </div>
                            </a>
                        </li>
                        <li class="mm-menu__item">
                            <a class="mm-menu__link" onclick="navpage('/Home/Teacher','督导','教师信息')">
                                <img src="~/image/5.png">
                                <div class="mm-menu__link-text">
                                    教师信息
                                </div>
                            </a>
                        </li>
                        <li class="mm-menu__item">
                            <a class="mm-menu__link" onclick="navpage('/Supervisor/Supervisor','督导','督导信息')">
                                <img src="~/image/6.png">
                                <div class="mm-menu__link-text">
                                    督导信息
                                </div>
                            </a>
                        </li>
                        <li class="mm-menu__item">
                            <a class="mm-menu__link" onclick="navpage('/Home/Set','督导','设置')">
                                <img src="image/8.png">
                                <div class="mm-menu__link-text">
                                    设置
                                </div>
                            </a>
                        </li>
                        <li class="mm-menu__item">
                            @{ if (ViewBag.role == "超级管理员")
                                {
                                    <a class="mm-menu__link" onclick="navpage('/Power/key','督导','权限管理')">
                                        <img src="image/7.png">
                                        <div class="mm-menu__link-text">
                                            权限管理
                                        </div>
                                    </a>
                                }
                            }
                            </li>
                        @*<li class="mm-menu__item">
                                <a class="mm-menu__link" onclick="navpage('/Power/set1','督导','设置')">
                                    <img src="image/8.png">
                                    <div class="mm-menu__link-text">
                                        设置
                                    </div>
                                </a>
                            </li>*@
                    </ul>
                </nav>
                <!-- /nav -->
            </div>
            
            <!--page-->
            <div id="footer">
                <span class="foot-white">
                    CopyRight
                </span>
                <span class="foot-blue">
                    破晓技术团队.
                </span>
                <span class="foot-white">
                    All Rights Resevered.
                </span>
            </div>
        </div>
        <!--container-->
        <script src="~/js/jquery.min.js">
        </script>
        <script src="~/js/bootstrap.min.js">
        </script>
        <script src="~/js/tabs.js">
        </script>
        <script src="~/js/materialMenu.js">
        </script>
        <script src="~/js/navpage.js">
        </script>
        <script>
          var act=window.location.hash;
        if(act.substring(0,3)=="#!/")
        {
          showpage(act.substring(3));
        }else{
          showpage("/Home/Confirm");
        }
        var menu = new Menu;
        </script>
</body>

</html>

