<div class="contain">
    <div class="tab_container">
        <div id="tab1" class="tab_content" style="display: block; ">
            <div class="row">
                <div class="col-lg-3 col-sm-5 col-xs-12">
                    <button type="button" class="button green" onClick="show()" >
                    添加
                    </button>
                    @*@using (Html.BeginForm("AddTeacher", "Home", FormMethod.Post))
                    {*@
                    <form action="/Home/AddTeacher" method="post">
                    <div id="div1" style="display:none">
                        教师号:
                        <input type="text" id="teacherNo" name="teacherNo" />
                        <br />
                        教师姓名:
                        <input type="text" id="teacherName" name="teacherName" />
                        <br />
                        职称:
                        <input type="text" id="teacherTitle" name="teacherTitle" />
                        <br />
                        教研室:
                        <input type="text" id="teacherRoom" name="teacherRoom" />
                        <br />
                        联系电话:
                        <input type="text" id="teacherTel" name="teacherTel"/>
                        <br />
                        邮箱:
                        <input type="text" id="teacherEmail" name="teacherEmail"/>
                        <input type="hidden" id="islimit" value=1 name="islimit"/>
                        <input type="hidden" id="college" value=@Session["College"] name="college"/>
                        <input type="submit" id="btn1" value="添加" />
                    </div>
                    </form>
                    <!--div1-->
                    <button type="button" class="button orange">
                        修改
                    </button>
                    <button type="button" class="button blue">
                        保存
                    </button>
                </div>
            </div>
            <!-- /.row -->
            <div>
                <p>
                </p>
                <table class="table table-condensed table-hover table-responsive ove"
                       id="tb1">
                    <tr bgcolor="#f5f5f5">
                        <th width=2%>
                            <form>
                                <input type="checkbox" name="checkall">
                            </form>
                        </th>
                        <th>
                            <p>
                                教师号
                            </p>
                        </th>
                        <th>
                            <p>
                                教师姓名
                            </p>
                        </th>
                        <th>
                            <p>
                                职称
                            </p>
                        </th>
                        <th>
                            <p>
                                教研室
                            </p>
                        </th>
                        <th>
                            <p>
                                联系电话
                            </p>
                        </th>
                        <th>
                            <p>
                                邮箱
                            </p>
                        </th>
                        <th>
                            <p>
                                是否督导
                            </p>
                        </th>
                        <th>
                            <p>
                                审核状态
                            </p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.table -->
            <div class="row">
                <div class="col-lg-9 col-sm-6 col-xs-4">
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-8">
                    <div class="pagese">
                        <p>
                            页数：
                        </p>
                        <form method="get">
                            <input type="text" name="pages" />
                        </form>
                        <button type="button" class="button gray">
                            下一页
                        </button>
                        <button type="button" class="button gray">
                            上一页
                        </button>
                        <button type="button" class="button gray">
                            转到
                        </button>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</div>
