
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<WebSupervisor.Models.TeachersModel>
<div class="contain">
    <div class="tab_container"style="overflow-x:auto;">
        <div id="tab1" class="tab_content" style="display: block; ">
            <div class="row">
                <div class="col-lg-5 col-sm-12 col-xs-12">
                    <button type="button" class="button green" onClick="$('#addtr').show()">
                        添加
                    </button>
                    <button type="button" class="button red" onClick="deletesure()">
                        删除
                    </button>
                    <button type="button" class="button orange" onclick="edite3()";>
                        修改
                    </button>
                    <button type="button" class="button blue" onclick="tsave()";>
                        保存
                    </button>
                </div>
            </div>
            <!-- /.row -->
            <div id="editable3">
                <p>
                </p>
               
                       @Html.Partial("TeacherList",Model);

              
            </div>
            <!-- /.table -->
           
        </div>
    </div>
</div>
<script>
   
    // 选中任意列的checkbox 
    function checkAll(c) {
        var arr = document.getElementsByName('checkname');//checkbox名字叫checkname
        if (c) {
            for (var i = 0; i < arr.length; i++) {
                arr[i].checked = true;
            }
        }
        else {
            for (var i = 0; i < arr.length; i++) {
                arr[i].checked = false;
            }
        }
    };
</script>