
@model IPagedList<TeachersModel>
<div class="contain">
    <div class="tab_container" style="overflow-x:auto;">
        <div id="tab1" class="tab_content" style="display: block; ">
               
                       @Html.Partial("TeacherList",Model);

              
           
        </div>
    </div>
</div>
<script> 
    // 选中任意列的checkbox 
    function checkAll(c) {
        var arr = document.getElementsByName('checkname');//checkbox名字叫checkname
        if (c) {
            for (var i = 0; i < arr.length; i++) {
                arr[i].checked = true;
            }
        }
        else {
            for (var i = 0; i < arr.length; i++) {
                arr[i].checked = false;
            }
        }
    };
</script>