<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="float:right;">
                <div id="tab1" class="tab_content" style="display: block; ">
                    <div class="po-right">
                        <form>
                            <select id="week">
                                <option value="0" id="0">请选择周次</option>
                                <option value="1">第一周</option>
                                <option value="2">第二周</option>
                                <option value="3">第三周</option>
                                <option value="4">第四周</option>
                                <option value="5">第五周</option>
                                <option value="6">第六周</option>
                                <option value="7">第七周</option>
                                <option value="8">第八周</option>
                                <option value="9">第九周</option>
                                <option value="10">第十周</option>
                                <option value="11">第十一周</option>
                                <option value="12">第十二周</option>
                                <option value="13">第十三周</option>
                                <option value="14">第十四周</option>
                                <option value="15">第十五周</option>
                                <option value="16">第十六周</option>
                                <option value="17">第十七周</option>
                                <option value="18">第十八周</option>
                                <option value="19">第十九周</option>
                                <option value="20">第二十周</option>
                            </select>
                            <select id="day">
                                <option value="0" id="0">请选择星期</option>
                                <option value="1">星期一</option>
                                <option value="2">星期二</option>
                                <option value="3">星期三</option>
                                <option value="4">星期四</option>
                                <option value="5">星期五</option>
                                <option value="6">星期六</option>
                                <option value="7">星期日</option>
                            </select>
                            <select id="classnumber">
                                <option value="0" id="0">请选择节次</option>
                                <option value="12">1-2</option>
                                <option value="13">1-3</option>
                                <option value="23">2-3</option>
                                <option value="24">2-4</option>
                                <option value="34">3-4</option>
                                <option value="35">3-5</option>
                                <option value="45">4-5</option>
                                <option value="67">6-7</option>
                                <option value="68">6-8</option>
                                <option value="78">7-8</option>
                                <option value="89">8-9</option>
                                <option value="1011">10-11</option>
                                <option value="1112">11-12</option>
                            </select>
                            <select id="teachername">
                                <option value="0" id="0">请选择教师姓名</option>
                                @*@{
                                        foreach(var item in ViewBag.TeacherName)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }*@
                            </select>
                            <select id="classtype">
                                <option value="理论">理论</option>
                                <option value="实验">实验</option>
                            </select>
                        </form>
                    </div><!--po right-->


                    <div style="float:left;">
                        <table class="table table-condensed table-hover table-responsive ove" style="height:60px;">
                            <tr bgcolor="#f5f5f5">
                                <th><p>上课地点</p></th>
                                <th><p>上课内容</p></th>
                                <th><p>上课类型</p></th>
                                <th><p>专业</p></th>
                                <th><p>课程名</p></th>
                                <th><p>课程编号</p></th>
                            </tr>
                            <tr id="classeslist">
                                <td id="address">&nbsp;</td>
                                <td id="classcontent">&nbsp;</td>
                                <td id="classtype">&nbsp;</td>
                                <td id="major">&nbsp;</td>
                                <td id="classname">&nbsp;</td>
                                <td id="cid">&nbsp;</td>
                            </tr>
                        </table>
                        <div style="float:left;">
                            <div style="width:35.5%;float:left;margin-right:1.5%;">
                                <table id="tablesupervisor1" class="table table-condensed table-hover table-responsive ove table-border table-margin" style="height:60px;">
                                    <tr id="backgcolor">
                                        <th width=2%>
                                            @*<input id="checkall" type="checkbox" name="checkall">*@
                                        </th>
                                        <th><p style="color:white;">首选督导</p></th>
                                        <th><p style="color:white;">安排情况</p></th>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                                <div style="float:right;">
                                    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    </button>
                                </div>
                                
                            </div>
                            <div style="width:35.5%;float:left;margin-right:1.5%;">
                                <table id="tablesupervisor2" class="table table-condensed table-hover table-responsive ove table-border table-margin" style="height:60px;">
                                    <tr id="backgcolor">
                                        <th width=2%>

                                        </th>
                                        <th><p style="color:white;">备选督导</p></th>
                                        <th><p style="color:white;">总听课数</p></th>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>                                   
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                     </tr>                                       
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                                <div style="float:right;">
                                    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    </button>
                                </div>
                                
                            </div>
                            <div style="width:25%;float:left;margin-right:1%">
                                    <table id="tablesupervisor" class="table table-condensed table-hover table-responsive ove table-border table-margin" style="height:60px;">
                                        <tr id="backgcolor">
                                            <th><p style="color:white;">督导成员</p></th>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                               
                                <div style="float:right;margin-top:4px;">
                                    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnArrageAddsave">保存</button>
            </div>
        </div>
    </div>
    @*<script>
        $(document).ready(function () {

            $("select").change(function () {
                var week = $("#week").val();
                var day = $("#day").val();
                var classnumber = $("#classnumber").val();
                var classtype = $("#classtype").val();
                var teachername = $("#teachername").val();
                if (findteachername(week, day, classnumber) == true) {
                    isallselect(week, day, classnumber, teachername, classtype);
                }
            });
        });
    </script>*@
</div>