<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Page.Title - 督导听课系统</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/sas.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/tabs.css">
    <!--[if IE]>
        <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js">
        </script>
        <![endif]-->
</head>

<body>
    <div id="container">

        @RenderBody()
        <div id="footer">
            <span class="foot-white">
                CopyRight &copy; @DateTime.Now.Year - 破晓技术团队
            </span>
        </div>
    </div>

    <!--container-->
    @RenderSection("Scripts", required: false)
</body>
</html>