
<button id="mm-menu-toggle" class="mm-menu-toggle"></button>
<nav id="mm-menu" class="mm-menu">
    <div class="mm-menu__header">
    </div>
    <ul class="mm-menu__items">
        <li class="mm-menu__item">
            <a class="mm-menu__link" onclick="navpage('/Home/Confirm','督导','主页')">
                <img src="~/image/1.png">
                <div class="mm-menu__link-text">
                    主页
                </div>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" onclick="navpage('/Schedule/Schedule','督导','进度表')">
                <img src="~/image/2.png">
                <div class="mm-menu__link-text">
                    进度表
                </div>
            </a>
        </li>
        <li class="mm-menu__item" onclick="navpage('/Schedule/Reference','督导','排课参考')">
            <a class="mm-menu__link">
                <img src="~/image/3.png">
                <div class="mm-menu__link-text">
                    排课参考
                </div>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" onclick="navpage('/Schedule/Auto','督导','自动生成')">
                <img src="~/image/4.png">
                <div class="mm-menu__link-text">
                    自动生成
                </div>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" onclick="navpage('/Home/Teacher','督导','教师信息')">
                <img src="~/image/5.png">
                <div class="mm-menu__link-text">
                    教师信息
                </div>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" onclick="navpage('/Supervisor/Supervisor','督导','督导信息')">
                <img src="~/image/6.png">
                <div class="mm-menu__link-text">
                    督导信息
                </div>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" onclick="navpage('/Home/Set','督导','设置')">
                <img src="image/8.png">
                <div class="mm-menu__link-text">
                    设置
                </div>
            </a>
        </li>
        <li class="mm-menu__item">
            @{ if (ViewBag.role == "超级管理员")
                {
                    <a class="mm-menu__link" onclick="navpage('/Power/key','督导','权限管理')">
                        <img src="image/7.png">
                        <div class="mm-menu__link-text">
                            权限管理
                        </div>
                    </a>
                }
            }
        </li>
        @*<li class="mm-menu__item">
                <a class="mm-menu__link" onclick="navpage('/Power/set1','督导','设置')">
                    <img src="image/8.png">
                    <div class="mm-menu__link-text">
                        设置
                    </div>
                </a>
            </li>*@
    </ul>
</nav>
<!-- /nav -->