.btnmodify{

}
.divbutton{
    display:block;
   border:0;
}
.divbutton:hover{
    
   border:1px solid #f2f2f2;
}
.clear_line{
    clear:both;
}
.checked_box{
    width:16px;
    height:16px;
    background-image:url("images/check_box_32px_1181750_easyicon.net.png");
    background-size:contain;
}
.checked_box_blank{
    width:16px;
    height:16px;
    background-image:url("images/check_box_outline_blank_32px_1181751_easyicon.net.png");
     background-size:contain;
}