.btnmodify{

}
.divbutton{
    display:block;
    border:2px solid transparent;
   cursor:pointer;
}
.divbutton:hover{
   border:2px solid #f2f2f2;
   cursor:pointer
}
.divbutton_active{
   border:2px solid #f2f2f2;
   background-color:#daebfa;
   cursor:pointer
}
.clear_line{
    clear:both;
}
.checked_box{
   cursor:pointer;
    width:24px;
    height:24px;
    background-image:url("images/check_box_24px_1181750_easyicon.net.png");
}
.checked_box_blank{
   cursor:pointer;
    width:24px;
    height:24px;
    background-image:url("images/check_box_outline_blank_24px_1181751_easyicon.net.png");
}
.table-freetime{
    width:initial;
}
.table-freetime th,td{
    vertical-align:middle !important;
}