@charset "utf-8";
/* CSS Document */
html,body{
	width: 100%;
	height: 100%;
	margin:0px;
	padding: 0px;
}
/*---------------------------------------------*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	position:absolute;
	left:10.5%;
	top:11.7%;
	list-style: none;
	height: 25px；
	color:#fff;
	font-size:0.8em;}
ul.tabs li {
	float: left;
	margin:0; 
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 0px;
	border-left: none;
	margin: 0px auto;
	overflow: hidden;
	position: relative;

}
ul.tabs li a {
	text-decoration: none;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 0px;
}
html ul.tabs li, html ul.tabs li a:link {
	color:#FFF;	
}
html ul.tabs li, html ul.tabs li a:visited  {
	color:#FFF;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	border-bottom: 4px solid #82BA43;
	color:#FFF;
}
html ul.tabs li, html ul.tabs li a:active {
	color:#FFF;
}

.tab_container {
	position:absolute;
	float:left;
	left:10%;
	top:17%;
    background-color:#FFF;
	height:500px;
	width:80%;
	overflow:hidden;
	text-align:center;
	margin:0 auto;
	padding:0 0 0 0;
	box-shadow: 6px 10px 7px #333333;
	border:2px solid #FFF;
	border-radius:7px;
}
.tab_content {
	padding: 0px;
	font-size: 1.2em;
}
/*---------------------------------------------*/
