
/* =============================================================================
  BUTTON RESETS
============================================================================= */
button {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  border-radius: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

/* =============================================================================
  BOX SIZING AND CLEARFIX
============================================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* =============================================================================
  HTML & BODY
============================================================================= */

body.mm-menu-open {
  overflow: hidden;
}

/* =============================================================================
  HEADINGS
============================================================================= */


/* =============================================================================
  TEXT
============================================================================= */
p {
  margin-bottom: 22px;
}

p:last-child {
  margin-bottom: 0;
}


/* =============================================================================
  PRIMARY LAYOUT
============================================================================= */

/*111111111111111111111111111111111111111111111111111111111111*/
.wrapper {
  z-index: 5;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.wrapper.mm-menu-open {
  -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
          transform: translateX(50px);
}
/*111111111111111111111111111111111111111111111111111111111111*/


/* =============================================================================
  MM - MATERIAL MENU
============================================================================= */

 /*111111111111111111111111111111111111111111111111111111111112*/
.mm-menu-toggle {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 20;
  width: 24px;
  height: 18px;
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 7px, #8e9099 7px, #8e9099 11px, rgba(255, 255, 255, 0 ) 11px, rgba(255, 255, 255, 0) 18px);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 7px, #8e9099 7px, #8e9099 11px, rgba(255, 255, 255, 0) 11px, rgba(255, 255, 255, 0) 18px);
  font-size: 0;
  text-indent: -9999px;
}

.mm-menu-toggle::before,
.mm-menu-toggle::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #8e9099;/*1*/
  content: "";
}

.mm-menu-toggle::before {
  top: 0;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.mm-menu-toggle::after {
  bottom: 0;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}

.mm-menu-toggle,
.mm-menu-toggle::before,
.mm-menu-toggle::after {
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}

/* active states */
.mm-menu-toggle.active {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.mm-menu-toggle.active::before {
  width: 75%;
  -webkit-transform: translateY(7px) rotate(-45deg);
      -ms-transform: translateY(7px) rotate(-45deg);
          transform: translateY(7px) rotate(-45deg);
}

.mm-menu-toggle.active::after {
  width: 75%;
  -webkit-transform: translateY(-7px) rotate(45deg);
      -ms-transform: translateY(-7px) rotate(45deg);
          transform: translateY(-7px) rotate(45deg);
}
 /*111111111111111111111111111111111111111111111111111111111112*/

.mm-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(38,38,38,.75);
  width: 100%;          /*2*/
  height:100%;
  overflow-y: auto;
  box-shadow: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
          transition: transform 0.3s, box-shadow 0.3s;
}

.mm-menu.active {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

@media all and (min-width: 300px) {
  .mm-menu {
    width: 180px;
    -webkit-transform: translateX(-180px);
        -ms-transform: translateX(-180px);
            transform: translateX(-180px);
  }
}
/* header */
.mm-menu__header {
  position: relative;
  width: 180px;
  height: 20%;
}



/* list */
.mm-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mm-menu__item {
  float: left;
  display: block;
  width: 80px;
  opacity: 0;
  margin-left: 5px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
          text-align: center;
}
.mm-menu__link img{
  width: 40px;
  height: 40px;
  margin: -1px;
}

.mm-menu__item.in-view {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.mm-menu__item.item-1 {
  -webkit-transition: opacity 0.0s 0.0s, -webkit-transform 0.0s 0.0s;
          transition: opacity 0.0s 0.0s, transform 0.0s 0.0s;
}

.mm-menu__item.item-2 {
  -webkit-transition: opacity 0.0s 0.0s, -webkit-transform 0.0s 0.0s;
          transition: opacity 0.0s 0.0s, transform 0.0s 0.0s;
}

.mm-menu__item.item-3 {
  -webkit-transition: opacity 0.0s 0.0s, -webkit-transform 0.0s 0.0s;
          transition: opacity 0.0s 0.0s, transform 0.0s 0.0s;
}

.mm-menu__item.item-4 {
  -webkit-transition: opacity 0.0s 0.0s, -webkit-transform 0.0s 0.0s;
          transition: opacity 0.0s 0.0s, transform 0.0s 0.0s;
}

.mm-menu__item.item-5 {
  -webkit-transition: opacity 0.0s 0.0s, -webkit-transform 0.0s 0.0s;
          transition: opacity 0.0s 0.0s, transform 0.0s 0.0s;
}

.mm-menu__item.item-6 {
  -webkit-transition: opacity 0.1s 0.05s, -webkit-transform 0.1s 0.05s;
          transition: opacity 0.1s 0.05s, transform 0.1s 0.05s;
}

.mm-menu__item.item-7 {
  -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
          transition: opacity 0.3s 0.1s, transform 0.3s 0.1s;
}

.mm-menu__item.item-8 {
  -webkit-transition: opacity 0.3s 0.2s, -webkit-transform 0.3s 0.2s;
          transition: opacity 0.3s 0.2s, transform 0.3s 0.2s;
}



.mm-menu__link {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 4px 0;
  padding: 6px;
  color: #67686a;
  font-size: 8px;
  text-decoration: none;
  -webkit-transition: background 0.3s, color 0.3s;
          transition: background 0.3s, color 0.3s;
}
.mm-menu__link:hover{
  text-decoration: none;
  color: #fff;
}
.mm-menu__link-text {
  position: relative;
  margin-top: 5px;
  z-index: 2;
}

/* the touch effect, for when a link is touched */
.mm-menu__link--touch-effect {
  display: block;
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
}

.mm-menu-mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
          transition: opacity 0.3s, visibility 0.3s;
}

.mm-menu-mask.active {
  visibility: visible;
  opacity: 1;
}


