@charset "utf-8";
/* CSS Document */
body{
/* Webkit: Safari 4-5, Chrome 1-9 */ 
background: -webkit-gradient(linear, center top,center bottom, from(#182146), to(#5587c0)); 
/* Webkit: Safari 5.1+, Chrome 10+ */ 
background: -webkit-linear-gradient(top, #182146,#5587c0); 
/* Firefox 3.6+ */ 
background: -moz-linear-gradient(top,#182146,#5587c0); 
/* Opera 11.10+ */ 
background: -o-linear-gradient(top, #182146,#5587c0); 
/* 如果浏览器不支持渐变,使用图像作为背景,面对ie各个版本渐变不一而兼容*/
background: url(../image/10.jpg);
} 

  /*切换功能*/
.contain{
	height:528px;
	width:100%;
	margin-top: 2%;   /*可改标签切换与上面的距离*/
	padding:0;
	 
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	position:absolute;
	left:5.5%;
	list-style: none;
	color:#fff;
	font-size:0.8em;}
ul.tabs li {
	float: left;
	margin:0; 
	padding: 0;
	height: 28px;
	line-height: 28px;
	border: 0px;
	border-left: none;
	margin: 0px auto;
	overflow: hidden;
	position: relative;

}
ul.tabs li a {
	text-decoration: none;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 0px;
}
html ul.tabs li, html ul.tabs li a:link {
	color:#FFF;	
}
html ul.tabs li, html ul.tabs li a:visited  {
	color:#FFF;
}
html ul.tabs li.active, html ul.tabs li.active {
	border-bottom: 3px solid #82BA43;
	color:#FFF;
}

.tab_container {
	position:absolute;
	float:left;
	left:5%;
    background-color:#FFF;
	min-height:500px;
    height:auto;
	width:90%;
	overflow:hidden;
	text-align:center;
	margin-top: 28px;
	margin-bottom: 0;
	padding:0;
	box-shadow: 6px 10px 7px #333333;
	border:2px solid #FFF;
	border-radius:7px;
}
.tab_content {
	padding: 0px;
	font-size: 1.2em;
}
/*button*/
.button:link {
    color:#FFF;
	text-decoration:none;
}
.button:visited {
    color:#FFF; 
	text-decoration:none;  
}
.button:hover {
    color:#FFF;
	text-decoration:none;
    box-shadow: 0px 0px 0px rgba(225,225,225,0);
	-webkit-box-shadow:0px 0px 0px rgba(225,225,225,0);
	-moz-box-shadow:0px 0px 0px rgba(225,225,225,0);
}
.button:active {
    color:#FFF;
	text-decoration:none;
    box-shadow: 0px 0px 0px rgba(225,225,225,0);
	-webkit-box-shadow:0px 0px 0px rgba(225,225,225,0);
	-moz-box-shadow:0px 0px 0px rgba(225,225,225,0);}

.button {
	color:#FFF;
    display: inline-block;
    position: relative;
    margin: 0px 9px 0 0;
	width:70px;
	height:25px;
     top:10px;
    float:left;
	left:2%;
    text-decoration: none;
	text-align:center;
    font: normal 0.7em/2em Microsoft YaHei;/*字大小跟字距*/
    text-shadow: 0.2px 0.2px 0.1px rgba(255,255,255, .22);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
     -webkit-box-shadow: 2px 2px 2px rgba(0,0,0, .29);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0, .29);
    box-shadow: 2px 2px 2px rgba(0,0,0, .29);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.green {
    background: #82ba43; 
}
.blue{
	background: #034B91;
}
.red{
	background:#DF282E;
}
.orange{
	background:#DD5600;
}

<!--搜索框-->


<!--表格-->
.container .tab_container table{
border-left:0px solid #8F8F8F;
border-top:opx solid #8F8F8F;
border-right:opx solid #8F8F8F;
border-bottom:1px solid #8F8F8F;
}

/*页码*/
.pages .button {
	color:#FFF;
    display: inline-block;
    position: relative;
    margin: 0px 9px 0 0;
	width:45px;
	height:20px;
	top:4px; 
    float:right;
	left:-1%;
    text-decoration: none;
    font: normal 0.6em/2em Microsoft YaHei;/*字大小跟字距*/
    text-shadow: 0.2px 0.2px 0.1px rgba(255,255,255, .22);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
     -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .29);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0, .29);
    box-shadow: 3px 3px 3px rgba(0,0,0, .29);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.pages .button:link {
    color:#FFF;
	text-decoration:none;
}
.pages .button:visited {
    color:#FFF; 
	text-decoration:none;  
}
.pages .button:hover {
    color:#FFF;
	text-decoration:none;
	background-color:#383838;
	box-shadow: 0px 0px 0px rgba(225,225,225,0);
	-webkit-box-shadow:0px 0px 0px rgba(225,225,225,0);
	-moz-box-shadow:0px 0px 0px rgba(225,225,225,0);
}
.pages .button:active {
    color:#FFF;	
	text-decoration:none;
    box-shadow: 0px 0px 0px rgba(225,225,225,0);
	-webkit-box-shadow:0px 0px 0px rgba(225,225,225,0);
	-moz-box-shadow:0px 0px 0px rgba(225,225,225,0);
}	
.gray{
	background: #8F8F8F;
	}
	
.pages input{
    border:2px solid #8F8F8F;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	width:45px;
	height:22px;
	position:relative;
	top:4px; 
	float:left;
    left:10%;
	}	
.pages p{
	font: normal 0.6em/2em Microsoft YaHei;/*字大小跟字距*/
	position:relative;
	top:4px;  /*3个top*/
	float:left;
    left:9%;
	color:#333;
	}
/*搜索框影响翻页--top不一样*/
.pagese .button {
	color:#FFF;
    display: inline-block;
    position: relative;
    margin: 0px 9px 0 0;
	width:45px;
	height:20px;
    top:-1px;
    float:right;
	left:-1%;
    text-decoration: none;
    font: normal 0.6em/2em Microsoft YaHei;/*字大小跟字距*/
    text-shadow: 0.2px 0.2px 0.1px rgba(255,255,255, .22);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
     -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .29);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0, .29);
    box-shadow: 3px 3px 3px rgba(0,0,0, .29);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.pagese .button:link {
    color:#FFF;
	text-decoration:none;
}
.pagese .button:visited {
    color:#FFF; 
	text-decoration:none;  
}
.pagese .button:hover {
    color:#FFF;
	background-color:#383838;
	text-decoration:none;
    box-shadow: 0px 0px 0px rgba(225,225,225,0);
	-webkit-box-shadow:0px 0px 0px rgba(225,225,225,0);
	-moz-box-shadow:0px 0px 0px rgba(225,225,225,0);
}
.pagese .button:active {
    color:#FFF;
	text-decoration:none;
    box-shadow: 0px 0px 0px rgba(225,225,225,0);
	-webkit-box-shadow:0px 0px 0px rgba(225,225,225,0);
	-moz-box-shadow:0px 0px 0px rgba(225,225,225,0);
}	
.pagese input{
    border:2px solid #8F8F8F;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	width:45px;
	height:22px;
	position:relative;
	top:-1px;
	float:left;
    left:10%;
	}	
.pagese p{
	font: normal 0.6em/2em Microsoft YaHei;/*字大小跟字距*/
	position:relative;
	top:-1px;  /*3个top*/
	float:left;
    left:9%;
	color:#333;
	}

	
/*搜索框位置*/
.input-group .form-control
{top:8px;
right:7px;}   
.input-group .input-group-btn .btn
{top:8px;
right:7px;
overflow:hidden;}	

/*两色*/
 .table-hover  td:link{
	 background-color:#CFFC85;}
 .table-hover  td:visited{
	 background-color:#CFFC85;}
.table-hover  td:hover{
	 background-color:#CFFC85;}
.table-hover  td:active{
	 background-color:#CFFC85;}
	
/*选框 列表名*/	
#checkall{
	text-align:center;
	vertical-align:middle;
	margin-top:6.5px;
	}/*复选框位置*/

th p{
	text-align:center;
	color:#383838;
	font: bold 1.25em/2em Microsoft YaHei;/*字大小跟字距*/
	}
tr {
	text-align:center;
	color:#383838;
	font: normal 0.60em/2em Microsoft YaHei;/*字大小跟字距*/
	
	}	
/*table溢出 未完善定义*/
.ove{
	height:380px;
	overflow:hidden;
	}

/*督导信息*/
.overview{
 	background-color:rgb(220,220,220);width:140px; height:35px;border-radius:5px;
 	
 }
#navtab li {
	list-style:none;
    width:130px;  
	height:30px; 
	margin:7px 3px 7px 3px;
	border-radius:6px;
	text-align:left;
    padding-top:6px; 
	padding-left:25%;
    }/*字体不居中为了不被覆盖*/
.aa {
	background:#F4F4F4;
	}/*点击前*/
.bb {
	background:#8F8F8F;
    color: rgb(255,255,255);
	}/*点击后*/
.cc { 
    border-top:4px solid #ff66ff; 
	background:#fcf;
	}/*删除则影响bb*/
.listtab  { 
    font: normal 17px/2em Microsoft YaHei;
    padding:3px;
	text-align:left;
	}
.listtab li{ 
    font: normal 0.65em/2em Microsoft YaHei;
    padding:0 0 0 10px;
	}
.vltab {
	float:left;
	width:12%; 
	position:relative;
	padding:2px;
	border:5px solid #F4F4F4;
	overflow:hidden;
	}/*over白板复上面*/
.vrtab {
	float:left;
	width:88%;
	position:relative;
	
	}
.rtab{
	padding:0;
    clear:both;
	text-align:left;
	height:495px;
	/*border-top:1px solid #AAC7E9;border-right:1px solid #AAC7E9;border-bottom:1px solid #AAC7E9; 观察范围*/
	/*overflow:auto;*/
	_width:89%;
    _height:100%;
	}/*产生滚动条 结合外面divoverflowhidden*/
.dis{
	display:block;
	}
.undis{
	display:none;
	}
.vltab li{
	list-style: none;
	}
.vltab ul { 
    padding:0; 
	margin:10 0 10 0;
	}
	
/*督导信息按钮*/
.dpages .button {
	color:#FFF;
    display: inline-block;
    position: relative;
    margin: 0px 9px 0 0;
	width:45px;
	height:20px;
    top:-1px;
    float:right;
	left:-1%;
    text-decoration: none;
    font: normal 0.65em/2em Microsoft YaHei;/*字大小跟字距*/
    text-shadow: 0.2px 0.2px 0.1px rgba(255,255,255, .22);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
     -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .29);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0, .29);
    box-shadow: 3px 3px 3px rgba(0,0,0, .29);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.dpages .button:link {
    color:#FFF;
	text-decoration:none;
}
.dpages .button:visited {
    color:#FFF; 
	text-decoration:none;  
}
.dpages .button:hover {
    color:#FFF;
	background-color:#383838;
	text-decoration:none;
    box-shadow: 0px 0px 0px rgba(225,225,225,0);
	-webkit-box-shadow:0px 0px 0px rgba(225,225,225,0);
	-moz-box-shadow:0px 0px 0px rgba(225,225,225,0);
}
.dpages .button:active {
    color:#FFF;
	text-decoration:none;
    box-shadow: 0px 0px 0px rgba(225,225,225,0);
	-webkit-box-shadow:0px 0px 0px rgba(225,225,225,0);
	-moz-box-shadow:0px 0px 0px rgba(225,225,225,0);
}	
.dpages input{
    border:2px solid #8F8F8F;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	width:45px;
	height:22px;
	position:relative;
	top:-1px;
	float:left;
     left:24%;
	}	
.dpages p{
	font: normal 0.65em/2em Microsoft YaHei;/*字大小跟字距*/
	position:relative;
	top:-1px;  /*3个top*/
	float:left;
    left:21%;
	color:#333;
	}
	
/*督导信息时间表*/
#checkday{
	text-align:center;
	vertical-align:middle;
	margin-bottom:3px;
	margin-right:10px;
	margin-left:-60px;
}
/*批量增加*/
.muchadd{
	width:auto;
	margin-left:2%;
	font: normal 0.65em/2em Microsoft YaHei;/*字大小跟字距*/
    float:left;
	}
.weeks{
	margin-top:-3px;
	margin-right:16px;
	font: normal 0.65em/2em Microsoft YaHei;/*字大小跟字距*/
	}	
.weeks input{
    border:2px solid #8F8F8F;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	width:45px;
	height:22px;
	}
.con .button {
	color:#FFF;
    display: inline-block;
	width:45px;
	height:22px;
    top:-24.5px;
	left:45%;
    text-decoration: none;
   font: normal 0.65em/2em Microsoft YaHei;/*字大小跟字距*/
    text-shadow: 0.2px 0.2px 0.1px rgba(255,255,255, .22);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
     -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .29);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0, .29);
    box-shadow: 3px 3px 3px rgba(0,0,0, .29);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.con .button:link {
    color:#FFF;
	text-decoration:none;
}
.con .button:visited {
    color:#FFF; 
	text-decoration:none;  
}
.con .button:hover {
    color:#FFF;
	text-decoration:none;
    box-shadow: 0px 0px 0px rgba(225,225,225,0);
	-webkit-box-shadow:0px 0px 0px rgba(225,225,225,0);
	-moz-box-shadow:0px 0px 0px rgba(225,225,225,0);
}
.con .button:active {
    color:#FFF;
	text-decoration:none;
    box-shadow: 0px 0px 0px rgba(225,225,225,0);
	-webkit-box-shadow:0px 0px 0px rgba(225,225,225,0);
	-moz-box-shadow:0px 0px 0px rgba(225,225,225,0);
}	
.twenty{
    font: normal 0.65em/2em Microsoft YaHei;/*字大小跟字距*/
	margin-top:-30px;
	float:right;}

/*首席督导意见反馈*/
.detail{
	margin:6px;
	border:8px solid #F4F4F4;
	height:60px;
	font: normal 0.65em/2em Microsoft YaHei;/*字大小跟字距*/}
.grade{
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	margin:6px;
	border:8px solid #F4F4F4;
	color:#034B91;
	font: normal 0.75em/2em Microsoft YaHei;/*字大小跟字距*/}
.grade input{
	vertical-align:middle;
	border:1px solid #034B91;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
     color:#000;
	}
.grade textarea{
	border:1px solid #034B91;
	width:100%;
	height:270px;}
	
/*普通督导意见反馈*/	
.grade table{
	font: normal 1.5em/2em Microsoft YaHei;/*字大小跟字距*/
	}

.grade th p{
	color:#FFF;
	}


/* =============================================================================
  teacher_information
============================================================================= */
.in-row-btn{
  width:15%; height:40px;margin-left:9%;margin-top:5%;
}
.mar-two{
	margin-top:3%
}