@{ 
    ViewBag.Title = "首席督导";
    Layout = "~/Views/Shared/Layoutsupervisor.cshtml";
}

<div class="rtab listtab">
    <div class="dis" id="tbc_01">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>






























            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
    </div><!--dis-->
    <div class="undis" id="tbc_02">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>
            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
    </div><!--undis-->
    <div class="undis" id="tbc_03">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>
            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
    </div>
    <div class="undis" id="tbc_04">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>
            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
    </div>
    <div class="undis" id="tbc_05">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>
            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
    </div>
    <div class="undis" id="tbc_06">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>
            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
    </div>
    <div class="undis" id="tbc_07">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>
            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
    </div>
    <div class="undis" id="tbc_08">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>
            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
    </div>
    <div class="undis" id="tbc_09">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>
            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
    </div>
    <div class="undis" id="tbc_010">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>
            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
    </div>
    <div class="undis" id="tbc_011">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>
            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
    </div>
    <div class="undis" id="tbc_012">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>
            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
    </div>
    <div class="undis" id="tbc_013">
        <div class="detail">
            <label></label>
        </div>
        <div class="grade">
            <form>评分:&nbsp;&nbsp;<input type="text"></form><p></p>
            <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
        </div>
        <div class="po-right">
            <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
            <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
        </div>
