<div>
    <!--TABLE-->
    <p>
    </p>
    <table class="table" style="font-size:20px">
        <tr bgcolor="f5f5f5" style="text-align:center">
            <th>
                <input id="checkweek" type="checkbox" name="checkweek" onClick="selectallweek(this,this.form)">
                全选
            </th>
            <th>
                <input type="checkbox" id="monday" onClick="selectday(this,'mon')">
                星期一
            </th>
            <th>
                <input type="checkbox" id="tuesday" onClick="selectday(this,'tue')">
                星期二
            </th>
            <th>
                <input type="checkbox" id="wednesday" onClick="selectday(this,'wed')">
                星期三
            </th>
            <th>
                <input type="checkbox" id="thursday" onClick="selectday(this,'thu')">
                星期四
            </th>
            <th>
                <input type="checkbox" id="friday" onClick="selectday(this,'fri')">
                星期五
            </th>
            <th>
                <input type="checkbox" id="saturday" onClick="selectday(this,'sat')">
                星期六
            </th>
            <th>
                <input type="checkbox" id="sunday" onClick="selectday(this,'sun')">
                星期天
            </th>
        </tr>
        <tr>
            <td>
                上午
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="mon">
                    1
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="mon">
                    2
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="mon">
                    3
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="mon">
                    4
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="mon">
                    5
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="tue">
                    1
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="tue">
                    2
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="tue">
                    3
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="tue">
                    4
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="tue">
                    5
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="wed">
                    1
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="wed">
                    2
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="wed">
                    3
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="wed">
                    4
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="wed">
                    5
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="thu">
                    1
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="thu">
                    2
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="thu">
                    3
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="thu">
                    4
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="thu">
                    5
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="fri">
                    1
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="fri">
                    2
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="fri">
                    3
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="fri">
                    4
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="fri">
                    5
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sat">
                    1
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sat">
                    2
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sat">
                    3
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sat">
                    4
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sat">
                    5
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sun">
                    1
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sun">
                    2
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sun">
                    3
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sun">
                    4
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sun">
                    5
                </div>
            </td>
        </tr>
        <tr>
            <td>
                下午
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="mon">
                    6
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="mon">
                    7
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="mon">
                    8
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="mon">
                    9
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="tue">
                    6
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="tue">
                    7
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="tue">
                    8
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="tue">
                    9
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="wed">
                    6
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="wed">
                    7
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="wed">
                    8
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="wed">
                    9
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="thu">
                    6
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="thu">
                    7
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="thu">
                    8
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="thu">
                    9
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="fri">
                    6
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="fri">
                    7
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="fri">
                    8
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="fri">
                    9
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sat">
                    6
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sat">
                    7
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sat">
                    8
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sat">
                    9
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sun">
                    6
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sun">
                    7
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sun">
                    8
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sun">
                    9
                </div>
            </td>
        </tr>
        <tr>
            <td>
                晚上
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="mon">
                    10
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="mon">
                    11
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="mon">
                    12
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="tue">
                    10
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="tue">
                    11
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="tue">
                    12
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="wed">
                    10
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="wed">
                    11
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="wed">
                    12
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="thu">
                    10
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="thu">
                    11
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="thu">
                    12
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="fri">
                    10
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="fri">
                    11
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="fri">
                    12
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sat">
                    10
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sat">
                    11
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sat">
                    12
                </div>
            </td>
            <td>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sun">
                    10
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sun">
                    11
                </div>
                <div class="divblock">
                    <input id="checkday" type="checkbox" name="sun">
                    12
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
