
<link rel="stylesheet" href="~/css/pikaday.css">
<div class="contain" id="classtable">
    <div class="tab_container"style="overflow-x:auto;">
        <div id="tab1" class="tab_content" style="display: block; ">
            <div class="po-left">
                <input type="button" id="datepicker" class="datapicker data-margin" style=" width:200px;background:url(image/15.png) no-repeat left top">
            </div>
            <div  name="tabcontent">
            @Html.Action("ReferenceList"); 
                </div>  
        </div>
    </div>
</div>
@RenderPage("~/Views/Shared/_ArrageAdd.cshtml")
<script src="~/js/pikaday.js">
</script>
<script>
    $(document).ready(function () {
        //var str = new Array();
        //$("#surereference").click(function () {
        //    $("input[name='checkreference']:checked").each(function () {
        //        //if ($(this).attr("checked")==true) {
        //            str.push($(this).val())
        //            //alert($(this).val());
        //        //}              
        //    })
        //    for (i in str)
        //    {
        //    //    alert[str[i]];
        //        $.ajax({
        //            url: '/Supervisor/ReferenceSure',
        //            type: 'post',
        //            //contentType: 'application/json;charset=utf-8',
        //            data: { cid: str[i] },
        //            async: false,
        //            success: function (arrageadd) {
        //                //for (i in classeslist) {
        //                //$().fi('<td>' + teachernames[i] + '</td>');
        //                $("#week").find("option[id='0']").html(arrageadd.classeslist[0].Week);
        //                $("#day").find("option[id='0']").html(arrageadd.classeslist[0].Day);
        //                $("#classnumber").find("option[id='0']").html(arrageadd.classeslist[0].ClassNumber);
        //                $("#teachername").find("option[id='0']").html(arrageadd.classeslist[0].TeacherName);
        //                $("#classtype").find("option[id='0']").html(arrageadd.classeslist[0].ClassType);
        //                $("#classeslist").find("td[id='address']").html(arrageadd.classeslist[0].Address);
        //                $("#classeslist").find("td[id='classcontent']").html(arrageadd.classeslist[0].ClassContent);
        //                $("#classeslist").find("td[id='classtype']").html(arrageadd.classeslist[0].ClassType);
        //                $("#classeslist").find("td[id='major']").html(arrageadd.classeslist[0].Major);
        //                $("#classeslist").find("td[id='classname']").html(arrageadd.classeslist[0].ClassName);
        //                $("#classeslist").find("td[id='cid']").html(arrageadd.classeslist[0].Cid);//替换 ;
        //                //}
        //            },
        //            error: function () {
        //                alert("出错了");
        //            }
        //        })
        //    }
        //})
        var datepicker = new Pikaday({
            field: jQuery('#datepicker')[0],
            minDate: new Date('2000-01-01'),
            maxDate: new Date('2020-12-31'),
            yearRange: [2000, 2020],
            onSelect: function () {
                var date = datepicker.toString('YYYY-MM-DD');
                var year = date.substr(0, 4);
                var month = date.substr(5, 2);
                var day = date.substr(8, 2);
                $.ajax({
                    url: '/Supervisor/Reference',
                    type: 'post',
                    contentType: 'application/json;charset=utf-8',
                    async: false,
                    data: JSON.stringify({
                        "year": year,
                        "day": day,
                        "month": month,
                    }),
                    success: function (data) {
                        $("#wrapper").html(data);
                    },
                    error: function () {
                        alert("出错了");
                    }
                })

            }
        });

    });
</script>
