<div class="contain">
    <div class="tab_container">
        <!--白板宽度-->
        <div style="width:1226px;">
            <!--同督导信息的vrtab的overflow产生滚动条-->
            <div class="vltab">
                <ul id="navtab" class="tabss">
                    <li class="active" style="width:130px;height:45px;text-align:center;vertical-align:middle;font-size:16px;font-weight:500;line-height:45px; ">总览<a href="#tab1"></a></li>
                    <content id="supervisorname">
                    @Html.Action("SupervisorName")
                    </content>
                   @*<li>2<a href="#tab2"></a></li>
                    <li>2<a href="#tab2"></a></li>
                    <li>2<a href="#tab2"></a></li>
                    <li>2<a href="#tab2"></a></li>
                    <li>2<a href="#tab2"></a></li>
                    <li>2<a href="#tab2"></a></li>
                    <li>2<a href="#tab2"></a></li>
                    <li>2<a href="#tab2"></a></li>
                    <li>2<a href="#tab2"></a></li>*@              <!--注意：文字放在li与a之间 不然点击没有效果 li包括总览只有9个 不然有些页面会溢出-->
                </ul>
                @{
                    var i = 0;
                <div>
                    <button  id="lastpage" class="btn btn-default btn-sm" aria-label="Left Align" >
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                    <button  id="nextpage" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>
                    }
            </div>

            <div class="vrtab">
                <div class="rtab listtab">
                    <form action="/Supervisor/AutoSpare" method="post">
                        <div id="tab1" class="tab_contents" style="display: block; ">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
                                    <button type="submit" class="button green">
                                        自动填补
                                    </button>
                                    <button type="button" class="button red">
                                        移除督导
                                    </button>
                                    <button type="button" class="button orange">
                                        修改
                                    </button>
                                </div>
                            </div>
                            <!--row-->
                            <div>
                                <!--TABLE-->
                                <p>
                                </p>
                                @Html.Action("SupervisorList")
                                <!--TABLE-->
                            </div>
                        </div>
                    </form>
                    <!--dis-->
                        <div id="tab2" class="tab_contents" style="display: none; ">
                            <form action="#!/Supervisor/HandSpareTime">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
                                        <button type="button" class="button green">
                                            清空全部
                                        </button>
                                        @*<button type="button" class="button red">
                                            移除勾选
                                        </button>*@
                                        <button type="submit" class="button blue">
                                            保存
                                        </button>
                                    </div>
                                    <!--col-->
                                </div>
                                <!--row-->
                              @Html.Action("HandSpareTime")
                            </form>
                                <!--TABLE-->
                                <div class="row">
                                    <div class="muchadd col-lg-1 col-md-2 col-sm-3 cpl-sx-12">
                                        <input type="checkbox" name="add">
                                        &nbsp;批量增加&nbsp;&nbsp;
                                    </div>
                                    <div class="col-lg-5 col-md-8 col-sm-9 cpl-sx-12">
                                        <div class="weeks">
                                            第&nbsp;
                                            <input type="text" name="lastweek" />
                                            &nbsp;周&nbsp;--&nbsp;第&nbsp;
                                            <input type="text" name="nextweek" />
                                            &nbsp;周
                                        </div>
                                        <div class="con">
                                            <button type="button" class="button blue">
                                                确认
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--row-->
                                <div class="twenty">
                                    <nav>
                                        周次：
                                        <ul class="pagination">
                                            <li>
                                                <a href="#">
                                                    1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    2
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    3
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    4
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    5
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    6
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    7
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    8
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    9
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    10
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    11
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    12
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    13
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    14
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    15
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    16
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    17
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    18
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    19
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    20
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
</div> <!--2-->
                </div>
            </div>
        </div>
    </div>
    <!-- tab_container -->
</div>
<!-- contain -->
<script>
    $("#lastpage").click(function(){ @{if (i > 0) { i--; } } $.get("/Supervisor/SupervisorName", { p: @i }, function (result) {
        $("#supervisorname").html(result);
    });})
    $("#nextpage").click(function(){ @{i++; } $.get("/Supervisor/SupervisorName", { p: @i }, function (result) {
        $("#supervisorname").html(result);
    });})
    //$(document).ready(function () {
    //    var str = new Array();
    //    $("#sure").click(function () {
    //        $("input[name='chebox']:checked").each(function () {
    //            //if ($(this).attr("checked")==true) {
    //            str.push($(this).val())
    //            //alert($(this).val());
    //            //}              
    //        })
    //        for (i in str) {
    //            //    alert[str[i]];
    //            $.ajax({
    //                url: '/Supervisor/ReferenceSure',
    //                type: 'post',
    //                contentType: 'application/json;charset=utf-8',
    //                data: JSON.stringify({
    //                    "cid": str[i],
    //                }),
    //                async: false,
    //                success: function (arrageadd) {
    //                    //for (i in classeslist) {
    //                    //$().fi('<td>' + teachernames[i] + '</td>');
    //                    $("#week").find("option[id='0']").html(arrageadd.classeslist[0].Week);
    //                    $("#day").find("option[id='0']").html(arrageadd.classeslist[0].Day);
    //                    $("#classnumber").find("option[id='0']").html(arrageadd.classeslist[0].ClassNumber);
    //                    $("#teachername").find("option[id='0']").html(arrageadd.classeslist[0].TeacherName);
    //                    $("#classtype").find("option[id='0']").html(arrageadd.classeslist[0].ClassType);
    //                    $("#classeslist").find("td[id='address']").html(arrageadd.classeslist[0].Address);
    //                    $("#classeslist").find("td[id='classcontent']").html(arrageadd.classeslist[0].ClassContent);
    //                    $("#classeslist").find("td[id='classtype']").html(arrageadd.classeslist[0].ClassType);
    //                    $("#classeslist").find("td[id='major']").html(arrageadd.classeslist[0].Major);
    //                    $("#classeslist").find("td[id='classname']").html(arrageadd.classeslist[0].ClassName);
    //                    $("#classeslist").find("td[id='cid']").html(arrageadd.classeslist[0].Cid);//替换 ;
    //                    //}
    //                },
    //                error: function () {
    //                    alert("出错了");
    //                }
    //            })
    //        }
    //    })
    //    $("#autofill").click(function () {
            
    //    })
    //    $.ajax({
    //        url: '/Supervisor/Reference',
    //        type: 'post',
    //        contentType: 'application/json;charset=utf-8',
    //        async: false,
    //        data: JSON.stringify({
    //            "year": year,
    //            "day": day,
    //            "month": month,
    //        }),
    //        success: function (data) {
    //            $("#wrapper").html(data);
    //        },
    //        error: function () {
    //            alert("出错了");
    //        }
    //    })

    //});
</script>