<div class="contain">
    <div class="tab_container">
        <!--白板宽度-->
        <div style="width:1226px;">
            <!--同督导信息的vrtab的overflow产生滚动条-->
            <div class="vltab">
                <ul id="navtab" class="tabss">
                    <li class="active" style="width:130px;height:45px;text-align:center;vertical-align:middle;font-size:16px;font-weight:500;line-height:45px; ">总览<a href="#tab1"></a></li>
                    <content id="supervisorname">
                        @Html.Action("SupervisorName")
                    </content>   
                </ul>
                @{
                    var i = 0;
                    <div>
                        <button id="lastpage" class="btn btn-default btn-sm" aria-label="Left Align">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </button>
                        <button id="nextpage" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </button>
                    </div>
                }
            </div>

            <div class="vrtab">
                <div class="rtab listtab">
                    <form action="/Supervisor/AutoSpare" method="post">
                        <div id="tab1" class="tab_contents" style="display: block; " name="tabcontent">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
                                    <button type="submit" class="button green">
                                        自动填补
                                    </button>
                                    <button type="button" class="button red" id="btnrmsupervisor">
                                        移除督导
                                    </button>
                                    @*<button type="button" class="button orange">
                                        修改
                                    </button>*@
                                </div>
                            </div>
                            <!--row-->
                            <div>
                                <!--TABLE-->
                                <p>
                                </p>
                                @Html.Action("SupervisorList")
                                <!--TABLE-->
                            </div>
                        </div>
                    </form>
                    <!--dis-->
                    <div id="tab2" class="tab_contents" style="display: none; " name="tabcontent">
                        <input id="freetime_tid" type="hidden"/>
                        <div class="col-md-3">
                                点击周次查看：
                                <div id="freetime_week_load"></div>
                            
                        </div>
                        <!--row-->
                        <div class="col-md-6">
                            <table class="table table-striped table-freetime" style="font-size:20px">
                                <thead>
                                    <tr>
                                        <th colspan="2">

                                            <div name="freetime_check_week" class="divbutton">
                                                全选
                                            </div>
                                        </th>
                                        <th>
                                            <div name="freetime_check_day" class="divbutton">
                                                星期一
                                            </div>
                                        </th>
                                        <th>
                                            <div name="freetime_check_day" class="divbutton">
                                                星期二
                                            </div>
                                        </th>
                                        <th>
                                            <div name="freetime_check_day" class="divbutton">
                                                星期三
                                            </div>
                                        </th>
                                        <th>
                                            <div name="freetime_check_day" class="divbutton">
                                                星期四
                                            </div>
                                        </th>
                                        <th>
                                            <div name="freetime_check_day" class="divbutton">
                                                星期五
                                            </div>
                                        </th>
                                        <th>
                                            <div name="freetime_check_day" class="divbutton">
                                                星期六
                                            </div>
                                        </th>
                                        <th>
                                            <div name="freetime_check_day" class="divbutton">
                                                星期天
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th rowspan="5">
                                            上午
                                        </th>
                                        <td><div class="divbutton" name="freetime_check_row">1</div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>

                                    </tr>
                                    <tr>
                                        <td><div class="divbutton" name="freetime_check_row">2</div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="divbutton" name="freetime_check_row">3</div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="divbutton" name="freetime_check_row">4</div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="divbutton" name="freetime_check_row">5</div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>

                                    </tr>
                                    <tr>
                                        <th rowspan="4">
                                            下午
                                        </th>
                                        <td><div class="divbutton" name="freetime_check_row">6</div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>

                                    </tr>
                                    <tr>
                                        <td><div class="divbutton" name="freetime_check_row">7</div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="divbutton" name="freetime_check_row">8</div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="divbutton" name="freetime_check_row">9</div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                    </tr>
                                    <tr>
                                        <th rowspan="3">
                                            晚上
                                        </th>
                                        <td><div class="divbutton" name="freetime_check_row">10</div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>

                                    </tr>
                                    <tr>
                                        <td><div class="divbutton" name="freetime_check_row">11</div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="divbutton" name="freetime_check_row">12</div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                        <td><div class="divblock checked_box_blank " name="freetime"></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--TABLE-->
                        <div class="col-md-3">                            
                            选择保存的周次：
                            <div  id="freetime_week_save"></div>
                            <button type="button" class="button blue" id="submit_freetime">
                                保存
                            </button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- tab_container -->
</div>
<!-- contain -->
<script>

    function genlist(){
        var data={list:[]};
        for(var i=1;i<=20;i++){
            data.list.push(i);
        }
        var page="{{#list}}<div class=\"col-md-3 divbutton\">{{.}}</div>{{/list}}";
    
        $("div[id^='freetime_week_']").html(Mustache.render(page, data));
    }; 
    genlist();

    $("#lastpage").click(function(){ @{if (i > 0) { i--; } } $.get("/Supervisor/SupervisorName", { p: @i }, function (result) {
        $("#supervisorname").html(result);
    });})
    $("#nextpage").click(function(){ @{i++; } $.get("/Supervisor/SupervisorName", { p: @i }, function (result) {
        $("#supervisorname").html(result);
    });})
    $("li[name='del']").click(function(){
       free_time.show_free_time_by_tid($(this).val());
    })
</script>