@using WebSupervisor.Models
@model PagedList<ClassesModel>
<div class="pager" style="text-align: center;">

    <span style="height: 10px; line-height: 10px;">共 @Model.TotalItemCount.ToString() 条记录，当前第 @Model.PageNumber 页/共 @Model.PageCount 页 </span>
    @Html.PagedListPager(
    Model,
    page => Url.Action( "ExportClassList", "Schedule", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
    {
        LinkToFirstPageFormat = "首页",
        LinkToNextPageFormat = "下一页",
        LinkToPreviousPageFormat = "上一页",
        LinkToLastPageFormat = "末页",
        DisplayItemSliceAndTotal = false,
        MaximumPageNumbersToDisplay = 10,
        DisplayLinkToIndividualPages = true
    }, new AjaxOptions()
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "classtable"
    }))
</div>
<script>
    $(".pagination-container .pagination a").each(function ()
    {
        if (typeof $(this).attr("href") != "undefined")
        {
            var href = "javascript:navpage('" + $(this).attr("href") + "')";
            $(this).attr("href", href);
        }
    })
</script>
