<form class="form-inline" style="margin-top: 8%;position:absolute;float:left; left:35%;font-size: 1.2em;">
    <div>
        <label for="周次" class="time-color">
            听课起始：
        </label>
        <input type="text" class="form-control text-style" style=" width:120px;height:40px;background-color: rgb(35,45,86);"
               placeholder="起始周">
        <label for="---" class="time-color">
            ---
        </label>
        <input type="text" class="form-control text-style" style=" width:120px;height:40px;background-color: rgb(35,45,86);"
               placeholder="起始天">
    </div>
    <div style="margin-top: 5%;">
        <label for="督导小组人数" class="time-color">
            督导小组人数：
        </label>
        <input type="text" class="form-control text-style" style=" width:120px;height:40px;background-color: rgb(43,58,101);"
               placeholder="最小人数">
        <label for="---" class="time-color">
            ---
        </label>
        <input type="text" class="form-control text-style" style=" width:120px;height:40px;background-color: rgb(43,58,101);"
               placeholder="最大人数">
    </div>
    <div style="margin-top:5%;">
        <label for="每周听课次数" class="time-color">
            每周听课次数：
        </label>
        <input type="text" class="form-control text-style" style=" width:200px;height:40px;background-color: rgb(50,67,114);"
               placeholder="次数">
    </div>
    <div style="margin-top: 5%;">
        <label for="理论课占比例" class="time-color">
            理论课占比例：
        </label>
        <input type="text" class="form-control text-style" style=" width:200px;height:40px;background-color: rgb(55,81,129);"
               placeholder="百分比（%）">
    </div>
    <div style="margin-top:5%;">
        <label for="周听课次数" class="time-color">
            周听课次数：
        </label>
        <input type="text" class="form-control text-style" style=" width:200px;height:40px;background-color: rgb(63,94,144);"
               placeholder="次数">
    </div>
    <div style="margin-top:5%;">
        <label for="日听课次数" class="time-color">
            日听课次数：
        </label>
        <input type="text" class="form-control text-style" style=" width:200px;height:40px;background-color: rgb(71,107,159);"
               placeholder="次数">
    </div>

    <input name="开始排课" type="button" style="width:45%; height:40px;margin-top:10% ;"
           class="text-style3" value="开始排课" />
    <input name="重新排课" type="button" style="width:45%; height:40px;margin-left:5%;margin-top:10%;text-align:center;"
           class="text-style3 color-mar6" value="重新排课" />
</form>

