<div class="set-contain">
    <form class="form-inline" style="margin-top: 2%;position:absolute;float:left; left:35%;font-size: 1.2em;" action="/Home/AutoArrange" method="post">
        <div>
            <label for="周次" class="time-color">
                听课起始：
            </label>
            <input name="Bweek" type="text" class="form-control text-style" style="width:120px;height:40px;background-color: rgb(35,45,86);"
                   placeholder="起始周" />
            <label for="---" class="time-color">
                ---
            </label>
            <input name="Sday" type="text" class="form-control text-style" style="width:120px;height:40px;background-color: rgb(35,45,86);"
                   placeholder="起始天" ">
        </div>
        <div style="margin-top: 5%;">
            <label for="督导小组人数" class="time-color">
                督导小组人数：
            </label>
            <input name="MinPeople" type="text" class="form-control text-style" style="width:120px;height:40px;background-color: rgb(43,58,101);"
                   placeholder="最小人数">
            <label for="---" class="time-color">
                ---
            </label>
            <input name="MaxPeople" type="text" class="form-control text-style" style="width:120px;height:40px;background-color: rgb(43,58,101);"
                   placeholder="最大人数">
        </div>
        <div style="margin-top:5%;">
            <label for="每周听课次数" class="time-color">
                每周听课次数：
            </label>
            <input name="PlanNumber" type="text" class="form-control text-style" style="width:200px;height:40px;background-color: rgb(50,67,114);"
                   placeholder="一周总共生成多少条安排">
        </div>
        <div style="margin-top: 5%;">
            <label for="理论课占比例" class="time-color">
                理论课占比例：
            </label>
            <input name="Apercent" type="text" class="form-control text-style" style="width:200px;height:40px;background-color: rgb(55,81,129);"
                   placeholder="百分比（%）">
        </div>
        <div style="margin-top:5%;">
            <label for="周听课次数" class="time-color">
                周听课次数：
            </label>
            <input  name="WeekListen" type="text" class="form-control text-style" style="width:200px;height:40px;background-color: rgb(63,94,144);"
                   placeholder="一个督导老师一周内听多少次课">
        </div>
        <div style="margin-top:5%;">
            <label for="日听课次数" class="time-color">
                日听课次数：
            </label>
            <input name="DayListen" type="text" class="form-control text-style" style="width:200px;height:40px;background-color: rgb(71,107,159);"
                   placeholder="次数">
        </div>
        <input name="Eweek" type="hidden" value="19">
        <input name="starta" type="submit" style="width:45%; height:40px;margin-top:10% ;"
               class="text-style3" value="开始排课" />        
    </form>
</div>
