
@model IPagedList<WebSupervisor.Models.ClassesModel>
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="contain">
    <ul class="tabs">
        <li class="active">
            <a href="#tab1">
                查看课表
            </a>
        </li>
        <li>
            <a href="#tab2">
                导入
            </a>
        </li>
        <li>
            <a href="#tab3">
                导出
            </a>
        </li>
    </ul>
    <div class="tab_container">
        <div id="tab1" class="tab_content" style="display: block; ">
            @Html.Action("ScheduleList");

        </div>
        <div id="tab2" class="tab_content" style="display: none; ">
            @Html.Action("ScheduleInport");
        </div>
        <div id="tab3" class="tab_content" style="display: none; ">
            @Html.Action("ScheduleExport");
        </div>
    </div>
</div>
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery.Huploadify.js"></script>
<script src="~/js/btn.js"></script>