
@{
    ViewBag.Title = "普通督导";
    Layout = "~/Views/Shared/Layoutsupervisior.cshtml";
}
 style="overflow:auto;"><!--产生滚动条-->
<div class="dis" id="tbc_01">
    <div class="detail">
        <label></label>
    </div>
    <div class="grade">
        <div contentEditable="true">
            <table class="table table-condensed table-responsive ">
                <tr bgcolor="#034B91">
                    <th><p>序号</p></th>
                    <th><p>评分内容</p></th>
                    <th><p>分值</p></th>
                    <th><p>评分</p></th>
                    <th><p>评价等级</p></th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>熟悉教材，对教学内容融会贯通，运用自如</td>
                    <td>10</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>基本概念与理论讲解准确、透彻</td>
                    <td>20</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>突出重点，认真讲解难点、层次清晰</td>
                    <td>20</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>讲解艺术性强、仪表、声音、语速、情绪得当</td>
                    <td>10</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>主要概念有相应英语词汇，并有一定的新进展信息</td>
                    <td>10</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>善于设置问题，启发学生的思维，重视教学双向性</td>
                    <td>10</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>合理利用教学手段，效果好</td>
                    <td>10</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <form>综合意见：&nbsp;&nbsp;<br><textarea></textarea></form>
    </div>
    <div class="po-right">
        <button type="button" class="button blue" style="margin-top:-3px;">保存</button>
        <button type="button" class="button blue" style="margin-top:-3px;">下载</button>
    </div>
</div><!--dis-->
<div class="undis" id="tbc_02">






</div><!--undis-->
<div class="undis" id="tbc_03">






</div>
<div class="undis" id="tbc_04">






</div>
<div class="undis" id="tbc_05">






</div>
<div class="undis" id="tbc_06">






</div>
<div class="undis" id="tbc_07">






</div>
<div class="undis" id="tbc_08">






</div>
<div class="undis" id="tbc_09">






</div>
<div class="undis" id="tbc_010">






</div>
<div class="undis" id="tbc_011">






</div>
<div class="undis" id="tbc_012">






</div>
<div class="undis" id="tbc_013">






