<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>督导听课系统</title>
    <link rel="shortcut icon" href="/images/00.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.css">
  	<link rel="stylesheet" href="/css/sas.css">
  	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tabs.css">
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->      
</head>
<body background="/images/10.jpg">
<div id="container">
  <div class="header">
<span class="dd-title-center dd-title-white">   督导&nbsp;|&nbsp;</span><span class="dd-title-blue">督导信息<a href="/" class="admin admin-text">欢迎您，管理员</a><img src="/images/14.png"class="admin admin-1"></span>
  </div>
<div id="page">
  <div class="container-fluid">
    <div id="wrapper" class="wrapper">
     <div class="contain">        
        <div class="tab_container">
       
<!--白板宽度-->
<div style="width:1226px overflow: hidden"><!--同督导信息的vrtab的overflow产生滚动条-->
 <div class="vltab">
 <ul id="navtab">
 <li class="aa" id="tb_1" onClick="i:hoverli(1);">总览</li>
 <li class="aa" id="tb_2" onClick="x:hoverli(2);">张春明</li>
 <li class="aa" id="tb_3" onClick="x:hoverli(3);">&nbsp;</li>
 <li class="aa" id="tb_4" onClick="x:hoverli(4);">&nbsp;</li>
 <li class="aa" id="tb_5" onClick="x:hoverli(5);">&nbsp;</li>
 <li class="aa" id="tb_6" onClick="x:hoverli(6);">&nbsp;</li>
 <li class="aa" id="tb_7" onClick="x:hoverli(7);">&nbsp;</li>
 <li class="aa" id="tb_8" onClick="x:hoverli(8);">&nbsp;</li>
 <li class="aa" id="tb_9" onClick="x:hoverli(9);">&nbsp;</li>
 <li class="aa" id="tb_10" onClick="x:hoverli(10);">&nbsp;</li>
 <li class="aa" id="tb_11" onClick="x:hoverli(11);">&nbsp;</li>
 <li class="aa" id="tb_12" onClick="x:hoverli(12);">&nbsp;</li>
 <li class="aa" id="tb_13" onClick="x:hoverli(13);">&nbsp;</li>
 </ul>
 </div>
 <div class="vrtab">
     <div class="rtab listtab">
          <div class="dis" id="tbc_01" style="overflow-x:hidden;overflow-y:auto;word-break:break-all;" >
            <div class="row">           
              <div class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
                <button type="button" class="button green">自动填补</button>
                <button type="button" class="button red">移除督导</button>
                <button type="button" class="button orange">修改</button>
             </div>
           </div><!--row-->
         <div ><!--TABLE-->
                <p></p>
                 <table class="table table-condensed table-hover table-responsive ove" >
                   <tr bgcolor="f5f5f5">
                    <th width=2%>
                        <form>
                         <input id="checkall" type="checkbox" name="checkall">
                        </form>
                    </th>
                    <th><p>督导</p></th>
                    <th><p>已填写的空闲时间</p></th>
                    <th><p>账号</p></th>
                    <th><p>密码</p></th>                                  
                   </tr>
                   <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   </tr> 
                   <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   </tr>  
                   <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   </tr>  
                   <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   </tr>  
                   <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   </tr> 
                   <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   </tr>  
                   <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   </tr> 
                   <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   </tr>  
                   <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   </tr>  
                   <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   </tr>
                    <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   </tr>  
                   <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   </tr>    
                 </table>
                </div><!--TABLE-->
              <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-5 col-xs-2"></div>
                  <div class="col-lg-4 col-md-5 col-sm-7 col-xs-10">
                    <div class="dpages">
                    <p>页数：</p>
                     <form method="get">
                      <input type="text" name="pages"/>
                      </form>  
                    <button type="button" class="button gray">下一页</button>
                    <button type="button" class="button gray">上一页</button>   
                    <button type="button" class="button gray">转到</button>                        
                 </div><!-- dpages -->
               </div><!-- col -->
             </div><!-- 页数/.row -->
          </div><!--dis--> 
           
    <div class="undis" id="tbc_02" >
            <div class="row">           
              <div class="col-lg-4 col-md-4 col-sm-7 col-xs-12">
                <button type="button" class="button green">清空全部</button>
                <button type="button" class="button red">移除勾选</button>
                <button type="button" class="button blue">保存</button>
             </div>
           </div><!--row-->
     </div>
    <div class="undis" id="tbc_03">&nbsp;</div>
    <div class="undis" id="tbc_04">&nbsp;</div>
    <div class="undis" id="tbc_05">&nbsp;</div>
    <div class="undis" id="tbc_06">&nbsp;</div>
    <div class="undis" id="tbc_07">&nbsp;</div>
    <div class="undis" id="tbc_08">&nbsp;</div>
    <div class="undis" id="tbc_09">&nbsp;</div>
    <div class="undis" id="tbc_010">&nbsp;</div>
    <div class="undis" id="tbc_011">&nbsp;</div>
    <div class="undis" id="tbc_012">&nbsp;</div>
    <div class="undis" id="tbc_013">&nbsp;</div>
      </div>
 </div>
</div>
   </div>  <!-- tab_container -->
  </div><!-- contain -->
 </div> <!-- wrapper -->
</div><!-- container-fluid -->
  <button id="mm-menu-toggle" class="mm-menu-toggle"></button>
  <nav id="mm-menu" class="mm-menu">
    <div class="mm-menu__header">
    </div>
    <ul class="mm-menu__items">
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="/HomePage/Index">
                <img src="/images/1.png"><div class="mm-menu__link-text">主页</div>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="/Schedule/Classes">
                <img src="/images/2.png"><div class="mm-menu__link-text">进度表</div>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="reference.html">
                <img src="/images/3.png"><div class="mm-menu__link-text">排课参考</div>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="auto.html">
                <img src="/images/4.png"><div class="mm-menu__link-text">自动生成</div>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="teacher.html">
                <img src="/images/5.png"><div class="mm-menu__link-text">教师信息</div>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="/SupervisorPage/supervisor">
                <img src="/images/6.png"><div class="mm-menu__link-text">督导信息</div>
            </a>
        </li>
        <li class="mm-menu__item">
            <a class="mm-menu__link" href="/Power/PowerManger">
                <img src="/images/7.png"><div class="mm-menu__link-text">权限管理</div>
            </a>
        </li>

        <li class="mm-menu__item">
            <a class="mm-menu__link" href="/ConfigPage/Setting">
                <img src="/images/8.png"><div class="mm-menu__link-text">设置</div>
            </a>
        </li>
    </ul>
  </nav><!-- /nav -->
</div><!--page-->
<div id="footer"><span class="foot-white">CopyRight </span><span class="foot-blue">破晓技术团队.</span><span class="foot-white">All Rights Resevered.</span></div>
</div><!--container-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/tabs.js"></script>
  <script src="/js/materialMenu.js"></script>
  <script src="/js/vtab.js"></script>
  <script>
    var menu = new Menu;
  </script> 
</body>
</html>



